[Unit]
Description=Executa youtube_to_mail cada hora

[Timer]
OnBootSec=10min
OnUnitInactiveSec=1h
AccuracySec=5min
Persistent=true

[Install]
WantedBy=timers.target
